[paths]
source =
   src/pokego_evol_maximizer
   */site-packages/pokego_evol_maximizer

[run]
branch = true
source =
    pokego_evol_maximizer
    tests
parallel = true

[report]
show_missing = true
precision = 2
omit = *migrations*
